<!DOCTYPE html>
<head>
    <!-- templatemo 419 black white -->
    <!--
    Black White
    http://www.templatemo.com/preview/templatemo_419_black_white
    -->
    <title>Black White HTML5 Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/templatemo_style.css" rel="stylesheet" type="text/css">

</head>

@RenderBody()
@RenderSection("scripts", required: false)
</html>